books_schema.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <element name="books">
            <oneOrMore>
                <element name="item">
                    <element name="title">
                        <text/>
                    </element>
                    <element name="price">
                        <text/>
                    </element>
                    <element name="rating">
                        <text/>
                    </element>
                    <element name="availability">
                        <text/>
                    </element>
                    <element name="image_url">
                        <data type="anyURI"/>
                    </element>
                    <element name="product_url">
                        <data type="anyURI"/>
                    </element>
                    <element name="category">
                        <text/>
                    </element>
                </element>
            </oneOrMore>
        </element>
    </start>
</grammar>